*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(250deg, rgb(94, 0, 120), rgb(44, 1, 64));
    text-align: center;
    display: flex;
    justify-content: center;
}
.container{
    max-width: 300px;
    margin: 265px auto;
    padding: 20px;
    background: transparent;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
h1{
    color: #ffffff;
}
#timer{
    font-size: 48px;
    margin: 20px 0;
}
.buttons{
    margin-top: 40px;
}
button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3d3d3d;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.5);
}
button:disabled{
    background-color: #000000;
    cursor: not-allowed;
}
button:hover{
    background-color: #000000;
}
button:focus{
    outline: none;
}
.container:after{
    content: "";
    display: table;
    clear: both;
}
.container .timer-buttons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.container .timer-buttons button:first-child{
    margin-left: 0;
}
.container .timer-buttons button:last-child{
    margin-right: 0;
}